body,
html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
li,
i {
    list-style: none;
    font-style: normal;
}


.es_ {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 超出部分显示省略号 */
    white-space: nowrap;
    /*规定段落中的文本不进行换行 */
}